@media screen and (min-width: 768px) {
    .MainPageHeader {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 65px;
        width: 100%;
        background-color: #F8F0EA;
        //border-style: solid;
        //border-width: 0px 0px 2px 0px;
        //border-color: rgba(124, 124, 124, 0.7);
        display: flex;
        z-index: 120;
    }

    .Title {
        position: fixed;
        top: 17px;
        left: 90px;
        margin: 0px;
        font-size: 28px;
        font-weight: bold;
        font-family: 'ONE-Mobile-Regular';
        text-align: left;
        border: none;
        background: none;
    }


    .EveryStoryPageButton {
        position: absolute;
        top: 20px;
        left: 300px;
        font-size: 22px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Bumsom';
    }

    .EveryStoryPageButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        //color: #43a83f;
        color: #e89a86;
        transition: 0.15s;
    }
    .EveryStoryPageButton_EveryStoryPage{
        position: absolute;
        top: 20px;
        left: 300px;
        font-size: 22px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Bumsom';
        color: #e89a86;
    }

    .PlazaPageButton {
        position: absolute;
        top: 20px;
        left: 430px;
        font-size: 22px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Bumsom';
        //font-family: 'Nanum Gothic', sans-serif;
    }
    .PlazaPageButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        color: #e89a86;
        transition: 0.15s;
    }
    .PlazaPageButton_PlazaPage{
        position: absolute;
        top: 20px;
        left: 430px;
        font-size: 22px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Bumsom';
        color: #e89a86;
        //font-family: 'Nanum Gothic', sans-serif;
    }


    .NewPostButton {
        position: absolute;
        top: 20px;
        right: 150px;
        font-size: 22px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Bumsom';
        color: #e89a86;
        font-weight: bold;
    }
    .NewPostButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        color: #e89a86;
        transition: 0.15s;
    }

    .MyStoryPageButton {
        position: absolute;
        top: 20px;
        left: 180px;
        font-size: 22px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Bumsom';
    }
    .MyStoryPageButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        color: #e89a86;
        transition: 0.15s;
    }

    .MyStoryPageButton_MyStoryPage {
        position: absolute;
        top: 20px;
        left: 180px;
        font-size: 22px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Bumsom';
        color: #e89a86;
    }


    //.GreetingText {
    //    position: absolute;
    //    top: 7px;
    //    right: 140px;
    //    font-size: 16px;
    //    font-weight: bold;
    //    border: none;
    //    background: none;
    //    box-sizing: border-box;
    //    font-family: 'Nanum Gothic', sans-serif;
    //
    //}
    //
    //.GreetingText:hover {
    //    /* 로그아웃 버튼 사용자 피드백 */
    //    color: #43a83f;
    //    transition: 0.15s;
    //}
}



.LogoutButton {
    position: absolute;
    top: 22px;
    right: 40px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: 'Bumsom';
    color: rgba(107, 107, 107, 0.8);
}

.LogoutButton:hover {
    /* 로그아웃 버튼 사용자 피드백 */
    color: #e89a86;
    transition: 0.15s;
}








@media screen and (max-width: 768px) {

    .MainPageHeader {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 65px;
        width: 100%;
        background-color: #F8F0EA;
        //border-style: solid;
        //border-width: 0px 0px 2px 0px;
        //border-color: rgba(124, 124, 124, 0.7);
        display: flex;
    }



    .Title {
        position: fixed;
        top: 17px;
        left: 70px;
        margin: 0px;
        font-size: 28px;
        font-weight: bold;
        font-family: 'ONE-Mobile-Regular';
        text-align: left;
        border: none;
        background: none;
        z-index: 140;
    }

    .MyStoryPageButton {
       visibility: hidden;
    }

    .MyStoryPageButton_MyStoryPage {
       visibility: hidden;
    }


    .EveryStoryPageButton {
       visibility: hidden;
    }
    .EveryStoryPageButton_EveryStoryPage {
        visibility: hidden;
    }
    .PlazaPageButton {
       visibility: hidden;
    }
    .PlazaPageButton_PlazaPage {
        visibility: hidden;
    }

    .NewPostButton {
        visibility: hidden;
    }


}

