@media screen and (min-width: 768px) {
    .MainPageHeader {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 65px;
        width: 100%;
        background: rgba(255, 255, 255, 0.7);
        //background: none;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: rgba(124, 124, 124, 0.7);
        display: flex;
        z-index: 100;
    }

    .Wafflelogo {
        position: fixed;
        top: 10px;
        left: 20px;
        width: 45px;
    }

    .Title {
        position: fixed;
        top: 17px;
        left: 70px;
        margin: 0px;
        font-size: 28px;
        font-weight: bold;
        font-family: 'ONE-Mobile-Regular';
        text-align: left;
        border: none;
        background: none;
    }

    .MyStoryPageButton {
        position: absolute;
        top: 22px;
        left: 220px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .MyStoryPageButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        color: #43a83f;
        transition: 0.15s;
    }

    .MyStoryPageButton_MyStoryPage {
        position: absolute;
        top: 22px;
        left: 220px;
        font-size: 16px;
        font-weight: bold;
        color: #43a83f;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }


    .EveryStoryPageButton {
        position: absolute;
        top: 22px;
        left: 340px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .EveryStoryPageButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        color: #43a83f;
        transition: 0.15s;
    }

    .PlazaPageButton {
        position: absolute;
        top: 22px;
        left: 480px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        background: none;
        box-sizing: border-box;
        font-family: 'Nanum Gothic', sans-serif;
    }
    .PlazaPageButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        color: #43a83f;
        transition: 0.15s;
    }

}


.LogoutButton {
    position: absolute;
    top: 22px;
    right: 40px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

.LogoutButton:hover {
    /* 로그아웃 버튼 사용자 피드백 */
    color: #43a83f;
    transition: 0.15s;
}

.GreetingText {
    position: absolute;
    top: 7px;
    right: 140px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background: none;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;

}

.GreetingText:hover {
    /* 로그아웃 버튼 사용자 피드백 */
    color: #43a83f;
    transition: 0.15s;
}


@media screen and (max-width: 768px) {

    .MainPageHeader {
        position: fixed;
        left: 0px;
        top: 0px;
        height: 65px;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);
        //background: none;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: rgba(124, 124, 124, 0.7);
        display: flex;
    }

    .Wafflelogo {
        position: fixed;
        top: 10px;
        left: 20px;
        width: 45px;
    }

    .Title {
        position: fixed;
        top: 17px;
        left: 70px;
        margin: 0px;
        font-size: 28px;
        font-weight: bold;
        font-family: 'ONE-Mobile-Regular';
        text-align: left;
        border: none;
        background: none;
    }

    .MyStoryPageButton {
       visibility: hidden;
    }

    .MyStoryPageButton_MyStoryPage {
       visibility: hidden;
    }


    .EveryStoryPageButton {
       visibility: hidden;
    }
    .EveryStoryPageButton:hover {
        /* 로그아웃 버튼 사용자 피드백 */
        color: #43a83f;
        transition: 0.15s;
    }

    .PlazaPageButton {
       visibility: hidden;
    }
}

