@media screen and (min-width: 768px) {
    .MainPage {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: scroll;
        text-align: center;
        background-color: #F8F0EA;

        //background-image: url("./seoulmap_color4.jpg");
        //background-size: 100%;
        //background-position: 100% 50%;



        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari and Chrome */
        -o-animation: fadein 1s; /* Opera */
        transition: visibility 1s ease-out 0s;
    }


    /* Animation 관련 css*/
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein {
        /* Firefox */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-o-keyframes fadein {
        /* Opera */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeout {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @-moz-keyframes fadeout {
        /* Firefox */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @-webkit-keyframes fadeout {
        /* Safari and Chrome */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @-o-keyframes fadeout {
        /* Opera */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .MainPageText1 {
        position: absolute;
        top: calc(50% - 160px);
        left: 100px;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Bumsom';
    }

    .MainPageText1:hover {
        color: #E9BAA8;
        transition: 0.15s;
    }


    .MainPageText2 {
        position: absolute;
        top: calc(50% - 70px);
        left: 100px;
        font-family: 'Bumsom';
        font-size: 20px;
        /*color: #43a83f;*/
    }

    .MainPageText3 {
        visibility: hidden;
    }

    .MainPageText4 {
        visibility: hidden;
    }

    .MainPageText5 {
        visibility: hidden;
    }

    .WriteButton {
        position: absolute;
        top: calc(50% + 40px);
        left: 55px;
        width: 245px;
        height: 60px;
        border: none;
        font-size: 24px;
        font-weight: bold;
        font-family: 'ONE-Mobile-Regular';
        background: none;
    }

    .WriteButton:hover {
        font-size: 25px;
        transition: 0.15s;
    }


    .IntroButton {
        position: absolute;
        top: calc(50% + 40px);
        left: 80px;
        width: 200px;
        height: 60px;
        border: none;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Bumsom';
        background: none;
    }

    .IntroButton:hover {
        font-size: 34px;
        transition: 0.15s;
    }

    .MainMainLogo{
        position: absolute;
        height: 250px;
        bottom:100px;
        right:0px;
    }
}

@media screen and (max-width: 768px) {
    .MainPage {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: scroll;
        text-align: center;
        background-color: #F8F0EA;

        -moz-animation: fadein 1s; /* Firefox */
        -webkit-animation: fadein 1s; /* Safari and Chrome */
        -o-animation: fadein 1s; /* Opera */
        transition: visibility 1s ease-out 0s;
    }


    /* Animation 관련 css*/
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein {
        /* Firefox */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {
        /* Safari and Chrome */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @-o-keyframes fadein {
        /* Opera */
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeout {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @-moz-keyframes fadeout {
        /* Firefox */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @-webkit-keyframes fadeout {
        /* Safari and Chrome */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    @-o-keyframes fadeout {
        /* Opera */
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .MainPageText1 {
        position: absolute;
        top: calc(50% - 160px);
        left: calc(50% - 250px + 45px);
        width: 500px;
        font-size: 16px;
        font-family: 'ONE-Mobile-Regular';
        color: #43a83f;
    }


    .MainPageText2 {
        visibility: hidden;
    }

    .MainPageText3 {
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 350px + 45px);
        width: 700px;
        font-family: 'PFStardust';
        font-size: 10px;
        /*color: #43a83f;*/
    }

    .MainPageText4 {
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% - 350px + 45px);
        width: 700px;
        font-family: 'PFStardust';
        font-size: 10px;
        /*color: #43a83f;*/
    }

    .WriteButton {
        visibility: hidden;
    }


    .IntroButton {
        position: absolute;
        top: calc(50% + 50px);
        left: calc(50% - 100px + 45px);
        width: 200px;
        height: 60px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        font-family: 'ONE-Mobile-Regular';
        background: none;
    }

    .IntroButton:hover {
        font-size: 25px;
        transition: 0.15s;
    }

    .MainPageWrapper{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(225, 225, 225, 0.8);
        transition: 1s;
    }

    .SpringSection{
        z-index: -10;
    }
}