.PlazaPage{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #F8F0EA;
  z-index: 200;
}

.PlazaPageWrapper{
  position: absolute;
  top:67px;
  width: 100%;
  height: calc(100% - 67px);
  overflow: scroll;
}
@media(min-width: 1057px) {
  .PostList {
    position: absolute;
    top: 100px;
    left: calc((100% - 1056px) / 2);
    width: 1056px;
    height: auto;
    //border: solid;
    display: flex;
    flex-direction: row; /* 왼쪽에서 오른쪽으로 나열되도록 설정 */
    flex-wrap: wrap;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
  }
}
@media(max-width: 1056px) {
  .PostList {
    position: absolute;
    top: 100px;
    width: 100%;
    height: auto;
    //border: solid;
    display: flex;
    flex-direction: row; /* 왼쪽에서 오른쪽으로 나열되도록 설정 */
    flex-wrap: wrap;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
  }
}