@media(min-width: 1057px) {
  .PostItem {
    list-style: none;
    width: 320px;
    height: 377px;
    margin: 16px;
    //border: solid;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  }
}

@media (max-width: 1056px) {
  .PostItem {
    list-style: none;
    width: calc(50% - 2rem);
    height: 377px;
    margin: 16px;
    //border: solid;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;

  }
}

@media (max-width: 767px) {
  .PostItem {
    list-style: none;
    width: 100%;
    height: 377px;
    margin: 16px;
    //border: solid;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
  }
}