@media screen and (min-width: 651px) {
  .MainPageHeader {
    z-index: 100;
  }

  .IntroPageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F0EA;
    overflow: scroll;
  }

  .IntroTitle {
    position: absolute;
    top: 87px;
    left: 100px;
    font-size: 42px;
    font-family: 'Bumsom';
  }

  .IntroTitle_small{
    font-size: 30px;
  }

  .IntroDetail {
    position: absolute;
    top: 165px;
    left: 100px;
    //border:solid;
    font-size: 20px;
    font-family: 'NanumSquareRound';
    line-height: 40px;
  }

  .TeamTitle {
    position: absolute;
    top: 600px;
    left: 100px;
    font-size: 20px;
    font-family: 'NanumSquareRound';
  }

  .TeamMember {
    position: absolute;
    top: 640px;
    left: 100px;
    font-size: 20px;
    font-family: 'NanumSquareRound';
  }

  .TeamDeveloper {
    position: absolute;
    top: 690px;
    left: 100px;
    font-size: 18px;
    font-family: 'NanumSquareRound';
  }

  .GithubIcon {
    position: absolute;
    top: 697px;
    left: 480px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 650px){
  .MainPageHeader {
    z-index: 100;
  }

  .IntroPageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F8F0EA;
    overflow: scroll;
  }

  .IntroTitle {
    position: absolute;
    top: 95px;
    left: 70px;
    font-family: 'ONE-Mobile-Regular';
    font-size: 20px;
  }

  .IntroDetail {
    position: absolute;
    top: 160px;
    left: 70px;
    //border:solid;
    font-size: 16px;
    font-family: 'NanumSquareRound';
    line-height: 32px;
    padding-right: 14px;
  }

  .TeamTitle {
    position: absolute;
    top: 640px;
    left: 70px;
    font-size: 14px;
    font-family: 'NanumSquareRound';
  }

  .TeamMember {
    position: absolute;
    top: 680px;
    left: 70px;
    font-size: 14px;
    font-family: 'NanumSquareRound';
  }

  .TeamDeveloper {
    position: absolute;
    top: 740px;
    left: 70px;
    font-size: 14px;
    font-family: 'NanumSquareRound';
  }

  .GithubIcon {
    position: absolute;
    top: 697px;
    left: 280px;
    width: 40px;
    height: 40px;
  }


}
